body
{
    width: 100%;
    height: 100%;
}
/*objasnienia*/
.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color:  #7B9AFF;
    border: 1px solid #deca7e;
} 
/* */
#nazwa
{
	width: 100%;
	height: 8%;
	font-size: 30px;
	font-family: Arial;
	margin-top: 2%;
}
/*MENU*/
#m
{width: 100%;
background-color: white;
height: 15%;
	font-family: Arial;
}

      /* usunięcie domyślnych właściwości CSS z elementów - ol - oraz - ul */
      #menu, #menu ul, #menu ol {
        list-style-type:none;
        padding:0;
        margin:0;
		display: inline-block;
      }

      /* wygląd głównego elementu - ol */
      #menu {
        background-color:white;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;
      }

      /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
      #menu a {
        display:block;
        text-decoration:none;
        color:white;
        padding:0 5px;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol */
      #menu > li {
        float:left;
        width:250px;
        margin-left:1px;
        background-color: #7B9AFF;
        height:2em;
      }

      /* wygląd elementu - li - pierwszego dziecka elementu - ol */
      #menu > li:first-child {
        margin-left:0;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
      #menu > li:hover {
        background-color:CCCC99;
      }

      /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      #menu > li:hover > a {
        color:#09C;
      }

      /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      #menu > li:hover > ul {
        display:block;
      }

      /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-1----------------------- */

      /* wygląd głównych rozwijanych elementów - ul */
      #menu > li > ul {
        display:none;
      }

      /* wygląd elementu - li - w części rozwijanej */
      #menu > li > ul > li {
        position:relative;
        background-color:666666;
      }

      /* wygląd elementu - a - w części rozwijanej */
      #menu > li > ul > li > a {
        border-top:1px solid #FFF;
      }

      /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
      #menu > li > ul > li:hover {
        background-color:#DDD;
      }

      /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
      #menu > li > ul > li:hover > a {
        color:#09C;
      }

      /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-2----------------------- */

      /* wygląd głównego elementu - ol - w drugiej części rozwijanej */
      #menu > li > ul > li > ol {
        display:none;
        width:80%;
        position:absolute;
        left:100%;
        margin-top:-2em;
      }

      /* wygląd głównego elementu - ol - w drugiej części rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
      #menu > li > ul > li:hover > ol {
        display:block;
      }

      /* wygląd elementów - li - w drugiej części rozwijanej */
      #menu > li > ul > li > ol > li {
        background-color:#CCC;
      }

      /* wygląd elementów - a - w drugiej części rozwijanej */
      #menu > li > ul > li > ol > li > a {
        border-top:1px solid #FFF;
        border-left:1px solid #FFF;
      }

      /* wygląd elementu - a - w drugiej części rozwijanej, po najechaniu kursorem myszki */
      #menu > li > ul > li > ol > li > a:hover {
        color:#09C;
      }

      /* ------------------------WSPÓLNE----------------------- */

      /* zaokrąglone rogi wszystkich elementów - li - oraz - a */
      #menu li, ol a {
        border-radius:6px;
      }
/*menu małe*/
  /* usunięcie domyślnych właściwości CSS z elementów - ol - oraz - ul */
      #menumale, #menumale ul, #menumale ol {
        list-style-type:none;
        padding:0;
        margin:0;
                display: inline-block;
      }

      /* wygląd głównego elementu - ol */
      #menumale {
        background-color:white;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;
      }

      /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
      #menumale a {
        display:block;
        text-decoration:none;
        color:white;
        padding:0 5px;
      }
  /* wygląd elementów - li - wszystkich dzieci elementu - ol */
      #menumale > li {
        float:left;
        width:100px;
        margin-left:1px;
        background-color: #7B9AFF;
        height:2em;
      }

      /* wygląd elementu - li - pierwszego dziecka elementu - ol */
      #menumale > li:first-child {
        margin-left:0;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
      #menumale > li:hover {
        background-color:CCCC99;
      }

      /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      #menumale > li:hover > a {
        color:#09C;
      }


/*noweparametry*/
#wypelnienie
{
    width: 100%;
    height: 72%;


}

#parametry
{
    width: 80%;
    margin-left: 10%;
}

#obrazek
{
    width: 100%;
    height: 30%;

}

#doplywy
{
    width: 30%;
    float: left;
}
#par_bio
{
    width: 70%;
    float: right;
}
#kinetyczne
{
width: 50%;
float: left;
}
#stech
{width: 50%;
float: right;
}
#formularz
{
margin-top: 1%;
	font-size: 16px;
}
#formularz input[type="text"]
{
	border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 1%;
    margin-left: 2%;
background-color: #9acfea;
color: black;
}

/*KOMPARTMENTY formularze */
#kwyp
{
	width: 98%;
	margin-left: 1%;
	text-align: center;
}

#kwypformularz
{
	width: 80%;
	margin: 0 auto;
}
#kwypformularz input[type="text"]
{
        border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 1%;
    margin-left: 2%;
background-color: #9acfea;
color: black;
}

#k1s
{
	width: 35%;
	margin-left: 15%;
	float: left;
}

#k1x
{
       width:35%;
	margin-right: 15%;
       float: right;
}
#kwypformularz input[type="submit"]{
        background-color:white;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;

        display:block;
        text-decoration:none;
        color:white;
        padding:0 5px;

        width:20%;
        margin-left:1px;
        background-color: #7B9AFF;
        height:2em;
	margin: 0 auto;
}

#powrot button
{
        background-color:white;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;

        display:block;
        text-decoration:none;
        color:white;
        padding:0 5px;

        width:20%;
        
        background-color: #7B9AFF;
        height:2em;
	margin: 0 auto;
margin-top: 1%;
}

