<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Strona</title>
<link rel="Stylesheet" media="screen and (min-width: 800px)" type="text/css" href="static/styleduze.css" />
    {% block meta %}
    {% endblock %}
</head>

<body>
<div id="calosc">
<div id="biala">
	<div id="napis">
        {% block niebieski %}
			<h1> Wspomaganie zarządzaniem oczyszczalni ścieków </h1>
        {% endblock %}
	</div>
	<div id="lewa">
		<a href="{{ url_for('parametry') }}"><div class="option">Parametry modelu </div></a>
		<div class="option">Obliczenia </div>
		<a href="{{ url_for('wyniki') }}"><div class="option">Wyświetl wyniki </div></a>
		<a href="{{ url_for('analiza') }}"><div class="option">Analiza wyników</div></a>
	</div>
	<div id="prawa">
        {% block content %}
        {% endblock %}
	</div>
	<div id="stopka"> Emilia Olejniczak & Mateusz Walczak</div>
	</div>
</div>
</body>
</html>