{% extends "params.html" %}

{% block main_content %}
<div class="plant2">
	<img src="/static/images/bioreaktor.png">

{% for par in Params %}
<form action="{{ url_for('submitBioParams') }}" method="post">
	<div class="textboxS">
		<input type="text" name="si" style="top:55px;" value="{{ par.si }}">
		<input type="text" name="snd" style="top:106px;" value="{{ par.snd }}">
		<input type="text" name="snh" style="top:157px;" value="{{ par.snh }}">
		<input type="text" name="sno" style="top:208px;" value="{{ par.sno }}">
		<input type="text" name="so" style="top:259px;" value="{{ par.so }}">
		<input type="text" name="ss" style="top:310px;" value="{{ par.ss }}">
	</div>
	
	<div class="textboxX">
		<input type="text" name="xh" style="top:55px;" value="{{ par.xh }}">
		<input type="text" name="xa" style="top:106px;" value="{{ par.xa }}">
		<input type="text" name="xs" style="top:157px;" value="{{ par.xs }}">
		<input type="text" name="xnd" style="top:208px;" value="{{ par.xnd }}">
		<input type="text" name="xp" style="top:259px;" value="{{ par.xp }}">
		<input type="text" name="xi" style="top:310px;" value="{{ par.xi }}">
	</div>
	
	<div class="textboxStechiometric" style="width:300px;position:absolute;left:255px;">
		<label class="headingOtherPar">Parametry Stechiometryczne:</label><br><br>
		<label class="nameOtherPar">Y<sub>A</sub></label><input type="text" name="ya" style="top:43px;" value="{{ par.ya }}"><br><br>
		<label class="nameOtherPar">Y<sub>H</sub></label><input type="text" name="yh" style="top:88px;" value="{{ par.yh }}"><br><br>
		<label class="nameOtherPar">f<sub>p</sub></label><input type="text" name="fp" style="top:133px;" value="{{ par.fp }}"><br><br>
		<label class="nameOtherPar">i<sub>xb</sub></label><input type="text" name="ixb" style="top:178px;" value="{{ par.ixb }}"><br><br>
		<label class="nameOtherPar">i<sub>xp</sub></label><input type="text" name="ixp" style="top:223px;" value="{{ par.ixp }}"><br><br>
		<label class="nameOtherPar">S<sup>*</sup><sub>O</sub></label><input type="text" name="sosat" style="top:274px;" value="{{ par.sosat }}">
	</div>

        <div class="textboxStechiometric" style="width:300px;position:absolute; right:245px;">
                <label class="headingOtherPar">Parametry Kinetyczne:</label><br><br>
                <label class="nameOtherPar">&mu;<sub>H</sub></label><input type="text" name="mih" style="top:43px;" value="{{ par.mih }}"><br><br>
                <label class="nameOtherPar">K<sub>s</sub></label><input type="text" name="ks" style="top:89px;" value="{{ par.ks }}"><br><br>
                <label class="nameOtherPar">K<sub>O,H</sub></label><input type="text" name="koh" style="top:134px;" value="{{ par.koh }}"><br><br>
                <label class="nameOtherPar">K<sub>NO</sub></label><input type="text" name="kno" style="top:179px;" value="{{ par.kno }}"><br><br>
                <label class="nameOtherPar">b<sub>H</sub></label><input type="text" name="bh" style="top:224px;" value="{{ par.bh }}"><br><br>
		<label class="nameOtherPar">&eta;<sub>g</sub></label><input type="text" name="ng" style="top:269px;" value="{{ par.ng }}"><br><br>
		<label class="nameOtherPar">&eta;<sub>h</sub></label><input type="text" name="nh" style="top:314px;" value="{{ par.nh }}"><br><br>
		<label class="nameOtherPar">k<sub>h</sub></label><input type="text" name="kh" style="top:359px;" value="{{ par.kh }}"><br><br>
		<label class="nameOtherPar">K<sub>X</sub></label><input type="text" name="kx" style="top:406px;" value="{{ par.kx }}"><br><br>
		<label class="nameOtherPar">&mu;<sub>A</sub></label><input type="text" name="mia" style="top:455px;" value="{{ par.mia }}"><br><br>
		<label class="nameOtherPar">K<sub>NH</sub></label><input type="text" name="knh" style="top:501px;" value="{{ par.knh }}"><br><br>
		<label class="nameOtherPar">b<sub>A</sub></label><input type="text" name="ba" style="top:547px;" value="{{ par.ba }}"><br><br>
		<label class="nameOtherPar">K<sub>O,A</sub></label><input type="text" name="koa" style="top:593px;" value="{{ par.koa }}"><br><br>
		<label class="nameOtherPar">k<sub>a</sub></label><input type="text" name="ka" style="top:639px;" value="{{ par.ka }}"><br><br>
        </div>
	<input class="button bioDefaultButton" type="submit" name="bioSubmit" value="Default">
        <input class="button bioSaveButton" type="submit" name="bioSubmit" value="Zapisz">
</form>
{% endfor %}
	<a href="{{ url_for('settler') }}"><button name="settparams" class="button button1 nextButton" tyle="vertical-align:middle"><span>Osadnik </span>
	</button></a>
	<a href="{{ url_for('influent') }}"><button name="settparams" class="button button2 prevButton" tyle="vertical-align:middle"><span>Dopływ </span>
	</button></a>
</div>
{% endblock %}
