<div class="container" style="width:99%">           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Opis</th>
        <th>Symbol</th>
        <th>Wartość</th>
        <th>Jednostka</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>description</td>
        <td>&mu;<sub>H</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="mih" value="{{ par.mih }}"></td>
        <td>{{ units[3]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>K<sub>s</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="ks" value="{{ par.ks }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>K<sub>O,H</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="koh" value="{{ par.koh }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>K<sub>NO</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="kno" value="{{ par.kno }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>b<sub>H</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="bh" value="{{ par.bh }}"></td>
        <td>{{ units[3]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>&eta;<sub>g</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="ng" value="{{ par.ng }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>&eta;<sub>h</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="nh" value="{{ par.nh }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>k<sub>h</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="kh" value="{{ par.kh }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>K<sub>X</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="kx" value="{{ par.kx }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>&mu;<sub>A</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="mia" value="{{ par.mia }}"></td>
        <td>{{ units[3]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>K<sub>NH</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="knh" value="{{ par.knh }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>b<sub>A</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="ba" value="{{ par.ba }}"></td>
        <td>{{ units[3]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>K<sub>O,A</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="koa" value="{{ par.koa }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>k<sub>a</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="ka" value="{{ par.ka }}"></td>
        <td>unit</td>
      </tr>
    </tbody>
  </table>
</div>
