<div class="container" style="width:99%">           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Opis</th>
        <th>Symbol</th>
        <th>Wartość</th>
        <th>Jednostka</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>description</td>
        <td>X<sub>1</sub></td>
        <td><input type="number"  style="width:100px;" name="x1" value="{{ par.x1 }}"></td>
        <td> {{ units[2]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>X<sub>2</sub></td>
        <td><input type="number" style="width:100px;" name="x2" value="{{ par.x2 }}"></td>
        <td>{{ units[2]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>X<sub>3</sub></td>
        <td><input type="number" style="width:100px;" name="x3" value="{{ par.x3 }}"></td>
        <td>{{ units[2]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>X<sub>4</sub></td>
        <td><input type="number" style="width:100px;" name="x4" value="{{ par.x4 }}"></td>
        <td>{{ units[2]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>X<sub>5</sub></td>
        <td><input type="number" style="width:100px;" name="x5" value="{{ par.x5 }}"></td>
        <td>{{ units[2]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>X<sub>6</sub></td>
        <td><input type="number" style="width:100px;" name="x6" value="{{ par.x6 }}"></td>
        <td>{{ units[2]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>X<sub>7</sub></td>
        <td><input type="number" style="width:100px;" name="x7" value="{{ par.x7 }}"></td>
        <td>{{ units[2]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>X<sub>8</sub></td>
        <td><input type="number" style="width:100px;" name="x8" value="{{ par.x8 }}"></td>
        <td>{{ units[2]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>X<sub>9</sub></td>
        <td><input type="number" style="width:100px;" name="x9" value="{{ par.x9 }}"></td>
        <td>{{ units[2]|safe }}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>X<sub>10</sub></td>
        <td><input type="number" style="width:100px;" name="x10" value="{{ par.x10 }}"></td>
        <td>{{ units[2]|safe }}</td>
      </tr>
    </tbody>
  </table>
</div>
