<div class="container" style="width:99%">           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Opis</th>
        <th>Symbol</th>
        <th>Wartość</th>
        <th>Jednostka</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>description</td>
        <td>v<sup>'</sup><sub>0</sub></td>
        <td><input type="number" step="0.01" style="width:100px;" name="v10" value="{{ par.v10 }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>v<sub>0</sub></td>
        <td><input type="number" step="0.01" style="width:100px;" name="v0" value="{{ par.v0 }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>r<sub>h</sub></td>
        <td><input type="number" step="0.01" style="width:100px;" name="rh" value="{{ par.rh }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>r<sub>p</sub></td>
        <td><input type="number" step="0.01" style="width:100px;" name="rp" value="{{ par.rp }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>f<sub>ns</sub></td>
        <td><input type="number" step="0.01" style="width:100px;" name="fns" value="{{ par.fns }}"></td>
        <td>unit</td>
      </tr>
    </tbody>
  </table>
</div>
