<div class="container" style="width:99%">           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Opis</th>
        <th>Symbol</th>
        <th>Wartość</th>
        <th>Jednostka</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>description</td>
        <td>Y<sub>A</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="ya" value="{{ par.ya }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>Y<sub>H</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="yh" value="{{ par.yh }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>f<sub>p</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="fp" value="{{ par.fp }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>i<sub>xb</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="ixb" value="{{ par.ixb }}"></td>
        <td>unit</td>
      </tr>
      <tr>
        <td>description</td>
        <td>i<sub>xp</sub></td>
        <td><input type="number" step="any" min="0" style="width:100px;" name="ixp" value="{{ par.ixp }}"></td>
        <td>unit</td>
      </tr>
    </tbody>
  </table>
</div>
